# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
import re
pd.set_option('display.max_colwidth', None)

In [2]:
jeopardy_df = pd.read_csv('jeopardy.csv')
print(jeopardy_df.head(10))
jeopardy_df.columns = ['episode', 'date', 'round', 'category', 'value', 'question', 'answer']
print(jeopardy_df.head(10))

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200
5         4680  2004-12-31  Jeopardy!                   3-LETTER WORDS   $200
6         4680  2004-12-31  Jeopardy!                          HISTORY   $400
7         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $400
8         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $400
9         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $400

                                                                                                        Question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           Answer
0      Copernicus
1      Jim Thorpe
2         Arizona
3      McDonald's
4      John Adams
5         the ant
6  the Appian Way
7  Michael Jordan
8      Washington
9  Crate & Barrel
   episode        date      round                         category value  \
0     4680  2004-12-31  Jeopardy!                          HISTORY  $200
1     4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2     4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3     4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4     4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200
5     4680  2004-12-31  Jeopardy!                   3-LETTER WORDS  $200
6     4680  2004-12-31  Jeopardy!                          HISTORY  $400
7     4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $400
8     4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $400
9     4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $400

                                                                                                        question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           answer
0      Copernicus
1      Jim Thorpe
2         Arizona
3      McDonald's
4      John Adams
5         the ant
6  the Appian Way
7  Michael Jordan
8      Washington
9  Crate & Barrel

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [3]:
def filter_questions_original(df, words):
    df_copy = df.copy()
    
    filtered_df = df_copy[df_copy['question'].str.contains('|'.join(words))]
    
    return filtered_df

words = ["King", "England"]
filtered_df = filter_questions_original(jeopardy_df, words)

print(filtered_df.head(10))
print()
print(f'Questiens with given key words: {len(filtered_df)}')

     episode        date             round            category  value  \
56      5957  2010-07-06         Jeopardy!       GEOGRAPHY "E"   $200
116     5957  2010-07-06   Final Jeopardy!      HISTORIC WOMEN   None
146     3751  2000-12-18  Double Jeopardy!   PEOPLE IN HISTORY   $200
296     4931  2006-02-06   Final Jeopardy!        FAMOUS SHIPS   None
386     2825  1996-12-06         Jeopardy!       ANNUAL EVENTS   $500
399     2825  1996-12-06  Double Jeopardy!               POETS   $400
545     3036  1997-11-10         Jeopardy!        ON THE RADIO   $200
621     4107  2002-06-11         Jeopardy!  "BLACK" OR "WHITE"  $1000
811     4335  2003-06-06  Double Jeopardy!         "S"-OTERICA   $400
847     4541  2004-05-10         Jeopardy!  HISTORIC NICKNAMES   $600

                                                                                            question  \
56                                                    It's the largest kingdom in the United Kingdom
116                             She was born in Virginia around 1596 & died in Kent, England in 1617
146  After a 15-year stay in England, this proprietor of Pennsylvania returned to his colony in 1699
296         On December 27, 1831 it departed Plymouth, England to map the coastline of South America
386           The Tanglewood Music Festival is a summer highlight in Lenox in this New England state
399                              Between 1842 & 1885, he repeatedly revised his "Idylls of the King"
545                  Robin Quivers is the radio consort of this self-proclaimed  "King of All Media"
621                               Famous landmark composed of chalk in the county of Kent in England
811                   Examples of this TV format include "Leave It to Beaver" & "The King of Queens"
847                      This animal phrase meaning "courageous" was Richard I of England's nickname

                        answer
56                     England
116                 Pocahontas
146               William Penn
296             the HMS Beagle
386              Massachusetts
399       Alfred Lord Tennyson
545               Howard Stern
621  the White Cliffs of Dover
811                     sitcom
847            the Lionhearted

Questiens with given key words: 2674

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [4]:
def filter_questions_updated(df, words):
    df_copy = df.copy()
    df_copy['question'] = df_copy['question'].apply(str.lower)
    words = list(pd.Series(words).str.lower())
    
    filtered_df = df_copy[df_copy['question'].apply(lambda x: all(re.search(r'\b{}\b'.format(word), x) for word in words))]
    
    return filtered_df


if __name__ == "__main__":
    original_df = jeopardy_df.copy()
    words = ["King", "England"]
    words_df = filter_questions_updated(original_df, words)

    #print(words_df.head(10))
    print()
    print(f'Questiens with given key words: {len(words_df)}')

Questiens with given key words: 118

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [5]:
def values_to_float(filtered_df):
    if filtered_df['value'].dtype == object:
        filtered_df['value'] = filtered_df['value'].str.replace('[^\d.]', '', regex=True)
        filtered_df['value'] = pd.to_numeric(filtered_df['value'], errors='coerce')
    filtered_df['value'] = filtered_df['value'].apply(lambda x: round(x, 2))
    return filtered_df


if __name__ == "__main__":
    words = ['King']
    original_df = jeopardy_df.copy()

    words_df = filter_questions_updated(original_df, words)
    words_df = values_to_float(words_df)
    print()
    values_mean = round(words_df['value'].mean(), 2)
    print(f'Questions with word King: {len(words_df)}')
    print()
    print(f'Average value of questions with word King: {values_mean}')

Questions with word King: 2744

Average value of questions with word King: 817.6

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [7]:
def get_unique_answers(filtered_df):
    uniques_list = filtered_df['answer'].unique()
    unique_count = filtered_df['answer'].nunique()
    return unique_count, uniques_list

if __name__ == "__main__":
    words = ['King']
    original_df = jeopardy_df.copy()

    words_df = filter_questions_updated(original_df, words)
    words_df = values_to_float(words_df)
    print()
    uniq_num, uniq_list = get_unique_answers(words_df)
    print(f'Unique answers for questions with word King: {uniq_num}')
    print()
    print(f'Examples of answers for questions with word King: ')
    for i in range(10):
        print(uniq_list[i])

Unique answers for questions with word King: 1499

Examples of answers for questions with word King:
Yertle
Bartholomew Cubbins
Alfred Lord Tennyson
Howard Stern
castle
sitcom
Louisiana
Poland
Hank Aaron
Crusades

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [14]:
def compare_dates(filtered_df):

    count_before_2000 = filtered_df[filtered_df['date'] < '2000-01-01']['answer'].count()
    count_after_2000 = filtered_df[filtered_df['date'] >= '2000-01-01']['answer'].count()
    return count_before_2000, count_after_2000
    
if __name__ == "__main__":
    words = ['Computer']
    original_df = jeopardy_df.copy()

    words_df = filter_questions_updated(original_df, words)
    words_df = values_to_float(words_df)
    
    before, after = compare_dates(words_df)
    
    print(f'Questiens with word "Computer" before 2000s: {before}')
    print()
    print(f'Questiens with word "Computer" in the 2000s: {after}')

Questiens with word "Computer" before 2000s: 84

Questiens with word "Computer" in the 2000s: 278

In [18]:
def compare_rounds(modified_df, category):
    df_copy = modified_df.copy()
    df_copy['category'] = df_copy['category'].apply(str.lower)
    category = category[0].lower()
    
    category_df = df_copy[df_copy['category'] == category]
    
    grouped_df = category_df.groupby('round')['category'].count().reset_index() 
    return grouped_df
    
if __name__ == "__main__":
    category = ['Literature']
    original_df = jeopardy_df.copy()
    modified_df = values_to_float(original_df)
    
    grouped_df = compare_rounds(modified_df, category)
    print(grouped_df)

              round  category
0  Double Jeopardy!       381
1   Final Jeopardy!        10
2         Jeopardy!       105

In [25]:
def simple_quiz():
    original_df = jeopardy_df.copy()
    modified_df = values_to_float(original_df)    
    
    categories = modified_df['category'].unique()
    
    print('Welcome to Jeopardy quiz demo!' + "\n")
    print(f'Select the category. \n The options: {categories} \n')
    category = input("Enter the category: ")
    
    category_df = modified_df[modified_df['category'] == category]
    
    print(f'Select the question number between 0 and {len(category_df)}. \n')
    question_no = int(input("Enter the question number: "))
    
    question_df = category_df.iloc[question_no]
    
    print(question_df[5])
    
    answer = input("Enter the answer: ")
    
    if question_df[6] != answer:
        print(f"Oh no! Wrong answer. The correct one is: {question_df['answer']}")
    else:
        print(f'Concrats! You got it right!')

if __name__ == "__main__":
    simple_quiz()

Welcome to Jeopardy quiz demo!

Select the category.
 The options: ['HISTORY' "ESPN's TOP 10 ALL-TIME ATHLETES" 'EVERYBODY TALKS ABOUT IT...'
 ... 'OFF-BROADWAY' 'RIDDLE ME THIS' 'AUTHORS IN THEIR YOUTH']

Enter the category: EVERYBODY TALKS ABOUT IT...
Select the question number between 0 and 4.

Enter the question number: 1
In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
Enter the answer: New York
Oh no! Wrong answer. The correct one is: Washington

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.